.list-inline,
.forcast-week,
h2,
h5 {
  font-family: Geneva, sans-serif;
}

#current-date,
#current-time {
  color: #30cfd0;
  font-size: 14px;
}

h2 {
  font-size: 30px;
}

.card {
  margin: 0 auto;
  display: block;
  padding: 40px 0px 0px 0px;
}

.card-body {
  background: linear-gradient(-15deg, #30cfd0, #330867);
  color: rgba(255, 255, 255, 0.836);
  border-radius: 15px;
  text-align: center;
}

.temperature {
  color: #30cfd0;
  font-size: 50px;
}

.units {
  color: #30cfd0;
  font-size: 20px;
  position: relative;
  top: -20px;
}

.humidity-wind {
  color: rgba(255, 255, 255, 0.836);
  font-size: 14px;
}

h5 {
  font-size: 10px;
  padding: 15px 0px 0px 0px;
  color: #330867;
}

a {
  font-size: 10px;
  padding: 15px 0px 0px 0px;
  color: rgba(255, 255, 255, 0.836);
}
