body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2 {
  font-size: 65px;
  font-weight: 600;
  margin: 30px 0px -15px 0px;
}

.card-body {
  height: 600px;
  width: 520px;
}

.card {
  margin: 0 auto;
  display: block;
  padding: 15px 0px 0px 0px;
}

.card-body {
  background: linear-gradient(-15deg, #30cfd0, #330867);
  color: #ffff;
  border-radius: 15px;
  text-align: center;
}

#date {
  color: #ffff;
  font-size: 20px;
  margin: 0px 0px 0px 0px;
}

.weather-icon img {
  height: 180px;
  width: 180px;
}

.temperature {
  color: #ffff;
  font-size: 110px;
  position: relative;
  top: 13px;
}

#description {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.slash {
  color: #c0c0c0;
  font-weight: 100;
}

.units {
  color: #ffff;
  font-size: 30px;
  position: relative;
  top: -44px;
  left: -25px;
}

#celsius-link,
#fahrenheit-link {
  font-size: 30px;
  color: #ffff;
}

.temperature .active {
  color: #ffff;
  cursor: default;
}

.temperature .active:hover {
  text-decoration: none;
}

.humidity-wind {
  color: #c0c0c0;
  font-size: 13px;
  margin: 0px 0px 55px 0px;
}

h5 {
  font-size: 10px;
  color: #c0c0c0;
}

a {
  font-size: 10px;
  color: #ffff;
}
