body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  min-width: 510px;
  min-height: 730px;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

h2 {
  font-size: 65px;
  font-weight: 600;
  margin: 30px 0px -15px 0px;
}

.container {
  max-width: 600px;
  margin-top: 15px;
  text-align: center;
  border-radius: 15px;
  border: solid #ffffff 1px;
}

#date {
  font-size: 20px;
}

img#icon {
  height: 170px;
  width: 170px;
}

.temperature {
  font-size: 110px;
  position: relative;
  top: 13px;
}

#description {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.slash {
  color: #dddcdc;
  font-weight: 100;
}

.units {
  font-size: 30px;
  position: relative;
  top: -44px;
  left: -25px;
}

#celsius-link,
#fahrenheit-link {
  font-size: 30px;
}

.temperature .active {
  cursor: default;
}

.temperature .active:hover {
  text-decoration: none;
}

.humidity-wind {
  color: #dddcdc;
  font-size: 13px;
  margin: 0px 0px 60px 0px;
}

p {
  font-size: 19px;
  text-align: center;
  color: #dddcdc;
  margin: -20px 0px 0px 0px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 60px;
  width: 60px;
}

.weather-forecast-temperature {
  font-size: 17px;
  text-align: center;
  color: #dddcdc;
  margin: 0px 0px 15px 0px;
}

h5 {
  font-size: 10px;
  color: #dddcdc;
  margin: 25px 0px 0px 0px;
}

a {
  font-size: 10px;
  color: white;
}
